@{
    ViewBag.Title = "New";
}

<h2>New</h2>

<h2>Creare grup</h2>
<p>Afisare formular creare group</p>
<form method="post" action="">
    <label>Nume grup</label>
    <br/>
    <input type="text" name="GroupName"/>
    <br/>
    <br/>
    <label>Descriere grup</label>
    <br/>
    <textarea name="Description"></textarea>
    <br/>
    <br/>
    <button type="submit">Adauga grup</button>
</form>