@using MVCezara.Models
@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>
<div class="container-fluid bg-info" style="margin-top: 20px; padding-bottom: 15px">
    <h1>@ViewBag.Group.GroupName</h1>
    <h3>@ViewBag.Group.Description</h3>
    <a href="/Groups/Edit/@ViewBag.Group.GroupId" class="btn btn-info">Edit</a>
</div>
<hr />

@foreach (GroupMessage message in ViewBag.Group.GroupMessages)
{
    <div class="container-fluid bg-success" style="margin-top: 20px;">
        <h4>@message.Message</h4>
        @if (message.IsEdited)
        {
            <h6 class="pull-right">Edited</h6>
        }
        <hr />
    </div>
}