@model MVCezara.Models.Post
@{
    ViewBag.Title = "Adaugare postare";
}

<h2> @ViewBag.Title </h2>
@using (Html.BeginForm(actionName: "New", controllerName: "Posts"))
{
    @Html.Label("Content", "Continut postare") <br />
    @Html.TextBox("Content", null, new { @class = "form-control" })
    <br />
    
    <button class="btn btn-success" type="submit"> Adauga postarea </button>
}
<hr />
<a class="btn btn-primary" href="/Posts/Index"> Inapoi la lista de postari </a>